/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 5.3125rem; 
}

/* To offset for fixed header. */


.center {
  text-align: center;
}

.button {
  width: 408px;
  height: 64px;
  border-radius: 4px;
  background-color: #4a4a4a;
  align-self: auto;
  justify-content: center;
  align-items: center;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

header .mobile {
  display:none;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  height: 85px;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
}

header .logo {
  flex: 1;
  color:#4a4a4a;
  font-size: 24px;
  font-family:"Roboto-Regular";
  text-decoration: none;
  margin-left: 30px;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 3.5rem;
  color:white;
  opacity: 0.9;
  list-style-type: none;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
  text-decoration: none;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
  margin-right: 30px;
}



/* Sign Up Section */

#sign-up-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43.5rem;
}

.banner {
  background-image: url("/banner-landingpage.jpg");
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

#sign-up-cta {
  padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20a;
  margin-left: 100px;
  margin-top: 170px;
  margin-bottom: 170px;
}

#sign-up-cta .content {
  width: 26.625rem;
  margin-top: 26px;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
  text-align: center;
}

#sign-up-cta h1 {
  font-size: 3.125rem;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  line-height: 1.4;
  text-align:center;
}

#sign-up-cta .email {
  color: white;
  font-size: 20px;
  font-family: "Roboto";
  line-height: 1.4;
  padding-bottom: 56px;
}

#sign-up-cta .button {
  margin:auto;
  padding: auto;
  line-height: 1.4;
  font-size: 20px;
  font-family: "Roboto";
  font-weight:500;
}

/* Features Section */

#features-section {
  display: flex;
  justify-content: center;
  padding: 4rem 5%;
  background-color: #f3f3f3;
  margin-top: 0px;
  padding-bottom: 46px;
}

.feature {
  flex: 1;
  margin: 0px 38px;
  background-color: white;
}

.feature .image-containers {
  margin: 0px auto;
  padding-top: 32px;
  padding-left: 2rem 5%;
  padding-right: 2rem 5%;
  overflow: hidden;
}

.image-containers img {
  padding-bottom: 40px;
  height: 65%;
  width: 90%;
  display:inline-block;
}

.feature h2 {
  text-align: center;
  font-size: 36px;
  color: #4a4a4a;
  line-height: 1.2;
  align-content: center;
  align-items:center;
  margin: auto;
}

.feature h3 {
  padding-bottom: 90px;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: #4a4a4a;
  line-height: 1.2;
  align-content: center;
  align-items: center;
  margin: auto;
  margin-right: 4rem;
  margin-left: 4rem;
}

/* Filters Section */

#filters-section {
  padding: 4rem 0;
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
  margin: auto;
}

#filters-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
  margin: auto;
  margin-bottom: 80px;
}

#filters-section .images-container {
  padding: 0 1%;
  margin: 0px auto;
  margin-bottom: 64px 5%;
  display: inline-flex;
  width: 98.7%;
}

.images-container img {
  height: auto;
  width: 100%;
  display:block;
  flex-grow: 1;
}

/* Quotes Section */

#quotes-section {
  background-color: #f3f3f3;
  margin-bottom: 80px;
  margin-top: 80px;
}

#quotes-section content {
  padding: 5rem 0;
}

#quotes-section .quote {
  padding-right: 1.875rem;
  font-family: "Palatino-italic", serif;
  font-size: 30px;
  line-height: 1.1;
  color: #4a4a4a;
  padding-bottom: 64px;
}

#quotes-section quote-citation {
  height: 1.875rem;
  margin-left: 30px;
}

/* Footer */

footer {
  background-color: #9b9b9b;
  padding: 1.5rem 2rem;
}

footer .content {
  color: white;
  display: flex;
  font-size: 12px;
  margin-left: 32px;
}

footer .copyright {
  flex-grow: 1;
}

@media only screen and (max-width: 460px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: inline;
  }  

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile nav li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 760px) {
  .main-content {
    top: 2.5625rem;
  }
  .button {
    display: none;
  }
}

@media only screen and (max-width: 760px) {

  header .mobile {
    display: none;
  }

  header .desktop {
    display: none;
  }
  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
    border-radius: 4px;
  }
}

@media only screen and (min-width: 760px) {
  footer .content {
    font-size: .625rem;
  }

  #quotes-section content {
    padding: 1.875rem .625rem;
  }

  #quotes-section .quote {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  #quotes-section quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }
}
@media only screen and (max-width: 760px) {
  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: auto;
  }

  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
  }

  #sign-up-cta .content {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 450px) {

  #sign-up-section {
    height: 20rem;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }
}
#sign-up-section .banner {
  background-image: url("file:///Users/roxannemartinez/Downloads/fotomatic_broken/resources/images/banner-landingpage.jpg");
  background-repeat: no-repeat;
  background-size: 964px 696px 100%;
  margin: 0;
}

@media only screen and (max-width: 890px) {
  .feature h2 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  .feature h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 760px) {
  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }
}
@media only screen and (max-width: 760px) {
  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    margin-bottom: 1rem;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #filters-section .content h3 {
    font-size: .875rem;
    line-height: 1.4;
  }

  #filters-section .images-container {
    padding: 0;
  }

  #filters-section .extra {
    display: none;
  }
}
